<div class="card" style="width: 18rem;">
    <img src="{{imageURL}}" class="card-img-top" alt="imagen de usuari@">
    <div class="card-body">
        <h5 class="card-title">Datos de usuario</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre del usuario: {{username}}</li>
        <li class="list-group-item">Fecha de nacimiento: {{birth}}</li>
        <li class="list-group-item">Género: {{sex}}</li>
    </ul>

    <div class="card-body d-grid gab-2">

        <form class="block" action="/perfil/editar/{{id}}">
            <button type="submit" class="btn btn-dark block mt-3">Editar</button>
        </form>

        <form class="block" action="/perfil/borrar/{{id}}" method="post">
            <button type="submit" class="btn btn-dark block mt-3">Eliminar</button>
        </form>
    </div>
</div>